<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-primary">

                <div class="panel-heading">Listagem de notas de projeto</div>


                <div class="panel-body">

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Note</th>
                            <th>Acao</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="o in projectNotes">
                                <td>{{o.title}}</td>
                                <td>{{o.note}}</td>
                                <td>
                                    <a class="btn btn-info" href="#/project/{{o.project_id}}/notes/{{o.id}}/edit">
                                        Editar
                                    </a> |
                                    <a class="btn btn-danger" href="#/project/{{o.project_id}}/notes/{{o.id}}/remove">
                                        Excluir
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

