<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-primary">

                <div class="panel-heading">Listagem de clientes</div>
                <br>
                <a  href="#/clients/new" class="btn btn-primary">Novo Cliente</a>



                <div class="panel-body">

                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Reponsible</th>
                            <th>E-mail</th>
                            <th>Phone</th>
                            <th>Acao</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="o in clients">
                                <td>{{o.name}}</td>
                                <td>{{o.responsible}}</td>
                                <td>{{o.email}}</td>
                                <td>{{o.phone}}</td>
                                <td>
                                    <a class="btn btn-info" href="#/clients/{{o.id}}/edit">Editar</a> |
                                    <a class="btn btn-danger" href="#/clients/{{o.id}}/remove">Excluir</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

