<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-primary">
                <div class="panel-heading">Cadastro de arquivos de projetos</div>

                <div class="panel-body">

                    <form class="form-horizontal" name="form" role="form" method="POST" ng-submit="save()">
                        <div class="form-group" ng-class="{'has-error':!form.name.$valid && form.name.$touched}">
                            <label class="col-md-4 control-label">Arquivo</label>

                            <div class="col-md-6">
                                <input type="text" class="form-control" name="name" ng-model="projectFile.name" required>
                                <div ng-messages="form.name.$error" class="help-block" ng-show="form.name.$touched">
                                    <div ng-message="required">Nome é Obrigatório</div>

                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{'has-error':!form.description.$valid && form.description.$touched}">
                            <label class="col-md-4 control-label">Note</label>
                            <div class="col-md-6">
                                <textarea class="form-control" name="note" ng-model="projectFile.description" required></textarea>
                                <div ng-messages="form.description.$error" class="help-block" ng-show="form.description.$touched">
                                    <div ng-message="required">Descrição é Obrigatória</div>

                                </div>
                            </div>
                        </div>


                        <div class="form-group" ng-class="{'has-error':!form.file.$valid && form.file.$touched}">
                            <label class="col-md-4 control-label">File</label>

                            <div class="col-md-6">
                                <div class="btn btn-primary" ngf-select ng-model="projectFile" name="file">Select</div>
                                <div ng-messages="form.file.$error" class="help-block" ng-show="form.file.$touched">
                                    <div ng-message="required">Arquivo é Obrigatório</div>

                                </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

